[submodule "VibeCheck_backend"]
	path = VibeCheck_backend
	url = git@github.com:mdgf11/VibeCheck.git
[submodule "VibeCheck_frontend"]
	path = VibeCheck_frontend
	url = git@github.com:mdgf11/VibeCheck.git
