spring.application.name = vibecheck
spring.jpa.hibernate.ddl-auto=update
spring.datasource.initialization-mode=always

spring.datasource.url=your-datasource-url
spring.datasource.username=your-datasource-username
spring.datasource.password=your-datasource-password
env.spotify.id=your-spotify-id
env.spotify.secret=your-spotify-secret